#Ordner, die ignoriert werden

.ipynb_checkpoints/
ipynb_checkpoints/
dsi_env/
nogithub/
.tmp.driveupload/
.virtual_documents/
.devcontainer/
testskripte/
app_demo/
archiv/

# Python Virtual Environments
.venv/
venv/

# Environment Configuration Files
.env
.env.*